$primary-color: #ffffff;
$secondary-color: #2196f3;
$font-family: Arial, sans-serif;

h1 {
    font-weight: bold;
    font-size: 50px;
    color: #000000;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
  }

.app-container{
  background-color: #535050;
}