@mixin centered-style {
  display: flex;
  align-items: center;
  justify-content: center; 
}

.pokemons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
}

.pokemon-card {
  width: 14%;
  margin: 0 10px;
  margin-bottom: 20px;
}

.card {
  border: var(--border-style);
  border-radius: 5px;
  overflow: hidden; 
}

button {
  background-color: var(--pokemon-yellow);
  color: var(--black-color);
  border: none;
  padding: 15px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 10px; 
  box-shadow: var(--box-shadow);

  &:hover {
    background-color: darken(#e4d256, 10%);
  }
}

.selected {
  background-color: darken(#e4d256, 20%);
  .name{
    font-weight: bold;
    font-family: var(--main-font);
    @include centered-style;
  }
}

.search-select{
  @include centered-style; 
  margin-bottom: 20px;
  .search-input{
    width: 200px;
    padding: 8px;
    font-size: 16px;
    border: var(--border-style);
    border-radius: 4px;
    margin-right: 10px;
  }
  .select-dropdown{
    padding: 8px;
    font-size: 16px;
    border: var(--border-style);
    border-radius: 4px;
    background-color: var(--white-color);
    color: var(--greyblack-color);
    cursor: pointer;
    .select-dropdown:focus {
      outline: none;
    } 
  }
}