@import "../../../styles.scss";

.auth-div{
    @include centered-style;
    margin-top: 20px;

    .email-input{
        width: 200px;
        padding: 8px;
        font-size: 16px;
        border: var(--border-style);
        border-radius: 4px;
        margin-right: 10px;
    }

    .button-login{
        padding: 8px;
        font-size: 16px;
        border: var(--border-style);
        border-radius: 4px;
        margin-right: 10px;
        background-color: var(--red-color);
        color: var(--yellow-color);
        cursor: pointer;
        &:hover {
            background-color: darken(red, 10%);
          }
    }
}