<div class="pokemon-popup-overlay" *ngIf="pokemon" (click)="closePopup()">
  <div class="pokemon-popup" (click)="preventClose($event)">
    <div class="pokemon-title"> {{pokemon.name  | uppercase }}</div>
      <div class="card-body">
        <img [src]="pokemon.imageUrl" alt="{{ pokemon.name }}" class="pokemon-image">
        <div class="pokemon-info">
          <div class="info-label">Types: </div>
          <div class="info-value">{{pokemon.types.join(', ')}}</div>
        </div>
        <div class="pokemon-info">
          <div class="info-label">Abilities: </div>
          <div class="info-value">{{pokemon.abilities.join(', ')}}</div>
        </div>
        <div class="pokemon-info">
          <div class="info-label">Height: </div>
          <div class="info-value">{{pokemon.height}} cm</div>
        </div>
        <div class="pokemon-info">
          <div class="info-label">Weight: </div>
          <div class="info-value">{{pokemon.weight}} kg</div>
        </div>
      </div>
    </div>
</div>