.history-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    margin: 20px;
    border-radius: 8px;
    padding: 16px;

    .title {
        font-weight: bold;
        font-size: 30px;
        padding-bottom: 15px;
        justify-content: center;
    }

    .pokemon-list {
        display: flex;
        justify-content: center;
        gap: 20px;

        .pokemon-card {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-content: space-around;
            min-width: 130px;
            border: var(--border-style);
            border-radius: 10px;
            padding: 16px;
            background-color: var(--yellow-color);
            box-shadow: var(--box-shadow);
            border-radius: 5px;
            overflow: hidden;

            &:hover {
                background-color: darken(#e4d256, 10%);
            }

            .name {
                font-weight: bold;
            }

            .card-body {
                margin-top: 10px;

                .pokemon-image {
                    max-width: 100%;
                    height: auto;
                }
            }
        }
    }

}

.no-history {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    border-radius: 8px;
    padding: 16px;
    font-style: italic;
    background-color: var(--white-color);
    box-shadow: var(--box-shadow);
}