:root {
    //colors
    --white-color: #ffffff;
    --black-color: #000000;
    --red-color: #f20b0b;
    --pokemon-yellow: #e4d256;
    --background-color: #e8d4d4;
    --popup-backgroundcolor: rgba(0, 0, 0, 0.5);
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    --border-style: 1px solid #ccc;
    --greyblack-color: #333;

    //fonts
    --main-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}